[submodule "deps/linenoise/repo"]
	path = deps/linenoise/repo
	url = https://github.com/msteveb/linenoise
[submodule "tests"]
	path = tests
	url = https://github.com/tokenrove/build-your-own-shell.git
